<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405845641981-jo17k3lb84bievptrqu88gsroopuqsev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405845641981-jo17k3lb84bievptrqu88gsroopuqsev</string>
	<key>API_KEY</key>
	<string>AIzaSyCr5OsoGRvjl_3jUaauh0HJekPWxtWZjy0</string>
	<key>GCM_SENDER_ID</key>
	<string>405845641981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.3DModelGenerator</string>
	<key>PROJECT_ID</key>
	<string>dmodeldemo</string>
	<key>STORAGE_BUCKET</key>
	<string>dmodeldemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405845641981:ios:ad7255200c2bf1e26e8c94</string>
	<key>DATABASE_URL</key>
	<string>https://dmodeldemo-default-rtdb.firebaseio.com</string>
</dict>
</plist>